.wrapper {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

@media only screen and (max-width: 475px) {
  .content {
    grid-template-columns: 1fr;
  }
}